# venv
.venv/
venv/

# python cache
__pycache__/
*.pyc

# local data (generated)
backend/app/db/
backend/app/storage/
backend/app/uploads/
backend/reports/
*.sqlite
*.sqlite3
*.bin
*.json

# but keep this tracked:
!backend/app/tools/web_cache.json

# optional
.DS_Store
